<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SoundCloud Playlist</title>
    <link rel="stylesheet" href="assets/index.css">
</head>
<body>
<div id="playlistsApp" class="panels">
    <section id="scSearch" class="searchWrapper">
        <header id="header">
            <h1>Search SoundCloud</h1>
            <input id="search" placeholder="Artist, song, genre..." autofocus>
        </header>
        <section id="searchResults">
            <ul id="tracksList"></ul>
        </section>
        <footer id="footer"></footer>
    </section>
    <section id="scPlayer" class="scPlayerWrapper">
        <div id="scIframe">Search for song!</div>
    </section>
    <section id="playlistWrapper" class="playlistWrapper">
        <p>Create your own playlist</p>
        <input id="playlistTitle" placeholder="Enter playlist's title" >
        <p>Still empty, search and add tracks</p>
        <ul id="playlistItems"></ul>
    </section>
</div>

<script type="text/template" id="playlist-item-template">
    <div class="view">
        <img src="<%- imageUrl %>"/>
        <label><%- title %></label>
        <button class="play">Play</button>
    </div>
    <button class="delete">Delete</button>
</script>

<script type="text/template" id="search-item-template">
    <div class="view">
        <img src="<%- imageUrl %>"/>
        <label><%- title %></label>

        <button class="play"><%-showPlayer ? 'Playing' : 'Play' %></button>
    </div>
    <button class="addToPlaylist">Add to playlist</button>
</script>

<script type="text/template" id="load-more-template">
    <button id="loadMore">Load more</button>
</script>

<script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
<script src="js/lib/jquery.min.js"></script>
<script src="js/lib/underscore-min.js"></script>
<script src="js/lib/backbone-min.js"></script>
<script src="js/lib/backbone.localStorage.js"></script>
<script src="js/models/track.js"></script>
<script src="js/collections/tracks.js"></script>
<script src="js/collections/playlist.js"></script>
<script src="js/views/track.js"></script>
<script src="js/views/app.js"></script>
<script src="js/routers/router.js"></script>
<script src="js/app.js"></script>
</body>
</html>